    
<div id="container">
    <img src="/assets/img/zodiac signs/aquarius.jpg">
    <img src="/assets/img/zodiac signs/aries.jpg">
    <img src="/assets/img/zodiac signs/cancer.jpg">
    <img src="/assets/img/zodiac signs/capricorn.jpg">
    <img src="/assets/img/zodiac signs/gemini.jpg">
    <img src="/assets/img/zodiac signs/leo.jpg">
    <img src="/assets/img/zodiac signs/libra.jpg">
    <img src="/assets/img/zodiac signs/pieces.jpg">
    <img src="/assets/img/zodiac signs/sagittarius.jpg">
    <img src="/assets/img/zodiac signs/scorpio.jpg">
    <img src="/assets/img/zodiac signs/taurus.jpg">
    <img src="/assets/img/zodiac signs/virgo.jpg">
</div>

 <form id="form-user"> 
        
      <!-- Text Area Input -->
        <div class="row" align="center">

      <!-- Burger Input Box -->
        <div class="form-group col-md-12">
            <label for="user-name" class="">Name</label>
            <input class="form-control" columns="8" rows="4" id="user-name" name="name" text="text">
        </div>
      </div>

      <!-- Submit Button -->
        <center>
          <button id="submit-button" class="btn btn-danger">Submit</button>
        </center>

      </form>

{{!-- 
{{#each person}}

<form id="form-user">
<h1>Name</h1>
	<input type='text' name='{{name}}'  value='{{name}}'/>

<h1>Gender</h1>

	<input type='text' name='{{name}}'  value='{{name}}'/>

<h1>Age</h1>

	<input type='text' name='{{name}}'  value='{{name}}'/>

<h1>Sign</h1>

	<input type='text' name='{{name}}'  value='{{name}}'/>

<h1>Photo</h1>
	<input type='text' name='{{name}}'  value='{{name}}'/><br/>
  <!-- Trigger/Open The Modal -->
<button type="submit" id="myBtn">Submit</button>
</form>
{{/each}} --}}



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Welcome to Alchemy!!</p>
    <!-- <button id="myBtn">Continue</button> -->
    <a href="/second"><button>Continue</button></a>

  </div>

<script>
$("submit-button").on("click", function (e){
    e.preventDefault();
    //form validate before posting
    var newUser = {
        name: $("user-name").val().trim() 
    }
console.log(newUser)

$.post("/create", newUser, function (res){
    console.log(res)
})
})
</script>


{{!-- <script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0]; 
btn.addEventListener("click",function(e){
    console.log(e)
    modal.style.display = "block";
    e.preventDefault();
})
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script> --}}
