<div id="account">
<div class="container" align="center" >
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
		    <div class="panel-body">
		    	<p>{{name}}</p>
					<p>your sign: {{sign}}</p>
					<img src="{{image}}" id="profile">
					<br>
					<br>

					<a href="/logout"><button class="btn btn-default">logout</button></a>
				</div>
		  </div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="panel panel-default">
		    <div class="panel-body">
		    	<p>you are compatible with:</p>
		    	{{#each signs}}
						<li>{{this}}</li>
					{{/each}}
					<div>
						{{#each matches}}
						<div>
							<p>{{this.name}}<p>
							<img src="{{this.image}}">
							<p>{{this.sign}}<p>
						</div>
						{{/each}}
					</div>
				</div>
		  </div>
		</div>
	</div>
</div>
</div>